.neet-main-section {
    width: 100%;
    padding: 5rem 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.class-main-header {
    text-align: center;
    font-size: 3.6rem;
    font-weight: 400;
    padding: 5rem 0;
}

.neet-subjects-ctr {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.neet-subject-tile {
    text-align: center;
    width: 20rem;
    background-color: #fff;
    font-size: 2.5rem;
    padding: 3rem 0;
    margin: 2rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.neet-subject-tile:hover {
    color: #FF6D60;    
}

@media screen and (max-width: 768px) {
    .neet-subjects-ctr {
        padding: 3rem;
    }

    .neet-subject-tile {
        padding: 4rem 6rem;
        font-size: 2rem;
        margin: 1rem;
        width: 100%;
        text-align: center;
    }

    .class-main-header {
        padding-left: 2rem;
        padding-right: 2rem;
        font-size: 3rem;      
    }
}

@media screen and (max-width: 425px) {
    .class-main-header {
        font-size: 2rem;
    }
}