.neet-main-section {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.neet-subjects-ctr {
    width: 100%;
    padding: 10rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.neet-subject-tile {
    background-color: #fff;
    font-size: 2.5rem;
    padding: 6rem 8rem;
    margin: 2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.neet-subject-tile:hover {
    background-color: #dbdbdb;
}

@media screen and (max-width: 768px) {
    .neet-subjects-ctr {
        padding: 2rem;
    }

    .neet-subject-tile {
        padding: 4rem 6rem;
        font-size: 2rem;
        margin: 1rem;
        width: 100%;
        text-align: center;
    }
}