/* Ncert Solutions */
.ncert-solutions-main-section-ctr {
    text-align: center;
    height: 100%;
    padding: 5rem 15rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
}

.ncert-solutions-main-section-text-ctr-header {
    padding: 4rem;
}

.ncert-solutions-main-section-text-ctr-para {
    text-align: justify;
    padding-bottom: 8rem;
}

.ncert-solutions-class-ctr {
    padding-bottom: 10rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ncert-solutions-class-tile {
    width: 20rem;
    padding: 3rem 0;
    font-size: 2.5rem;
    margin: 1rem;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.ncert-solutions-class-tile:hover {
    color: #FF6D60;
}

@media screen and (max-width: 1024px) {
    .ncert-solutions-main-section-ctr {
        padding: 0 10rem;
    }
}

@media screen and (max-width: 768px) {
    .ncert-solutions-main-section-ctr {
        padding: 0 5rem;
    }
}

@media screen and (max-width: 425px) {
    .ncert-solutions-class-tile {
        width: 100%;
    }

    .ncert-solutions-main-section-text-ctr-header {
        font-size: 2.5rem;
        padding: 4rem;
    }
    
    .ncert-solutions-main-section-text-ctr-para {
        font-size: 1.4rem;
        text-align: justify;
        padding-bottom: 8rem;
    }
}