/* Default CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    background-color: #f9f9f9;
    max-width: 200rem;
    margin: 0 auto;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #282828;
}

button,
i {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #282828;
}

p {
    color: #555;
}

.hide {
    display: none;
}

/* Header */
.header-ctr {
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #dbdbdb;
    box-shadow: 2px 2px 5px #dbdbdb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-inner-ctr {
    width: 100%;
    padding: 1.6rem 5rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.logo-ctr {
    height: 8rem;
}

.logo {
    height: 100%;
    width: 100%;
}

.header-tabs-ctr {
    width: 65rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.header-tabs-ctr a {
    color: #282828;
    padding: 1rem 0;
}

.header-tabs-ctr a:hover {
    transition: 0.1s ease-in;
    color: #FF6D60;
}

.contact-us-btn {
    background-color: #282828;
    color: #fff;
    padding: 1.6rem 3.2rem;
}

.icon-hamburgur-menu-ctr {
    display: none;
    height: 3.5rem;
    cursor: pointer;
}

.icon-hamburgur-menu {
    height: 100%;
    width: 100%;
}

.hidden-header-tabs-ctr {
    padding: 1.6rem 0;
    background-color: #282828;
    text-align: center;
}

.hidden-header-tabs-ctr a {
    color: #f9f9f9;
    display: block;
    width: 100%;
    padding: 1.6rem;
}

.hidden-header-tabs-ctr a:hover {
    transition: 0.1s ease-in;
    color: #FF6D60;
}

/* Main Section */
.main-section-inner-ctr {
    height: 66.4rem;
    width: 100%;
    background-image: radial-gradient(ellipse at bottom right, rgba(0, 0, 0, 0.9), rgba(166, 234, 233, 0.5)), url("images/hero-background-img.jpg");
    background-size: cover;
    position: relative;
}

.main-text-ctr {
    position: absolute;
    top: 12rem;
    left: 10rem;
}

.main-text-inner-ctr {
    position: relative;
    z-index: 1;
}

/* Keyframes main-text-inner-ctr*/
@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.main-text-inner-ctr {
    animation-name: fade-in;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.main-text-ctr-before-1 {
    height: 10rem;
    width: 50rem;
    background-color: #56d386;
    clip-path: polygon(0 0, 70% 0, 100% 100%, 0 100%);
    position: absolute;
    bottom: 5rem;
    right: 5rem;
}

/* Keyframes main-text-ctr-before-1*/
@keyframes left-fade-in {
    0% {
        right: -10rem;
        opacity: 0;
    }

    100% {
        right: 5rem;
        opacity: 1;
    }
}

.main-text-ctr-before-1 {
    animation-name: left-fade-in;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.main-text-ctr-after-1 {
    height: 10rem;
    width: 50rem;
    background-color: #282828;
    clip-path: polygon(0 0, 100% 0, 70% 100%, 0 100%);
    position: absolute;
    bottom: -5rem;
    left: 5rem;
}

/* Keyframes main-text-ctr-after-1*/
@keyframes right-fade-in {
    0% {
        left: -10rem;
        opacity: 0;
    }

    100% {
        left: 5rem;
        opacity: 1;
    }
}

.main-text-ctr-after-1 {
    animation-name: right-fade-in;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.main-text-ctr-header {
    padding: 0 3.2rem;
    font-size: 6rem;
    color: #f9f9f9;
    text-shadow: 0 2px 1px #747474,
        -1px 3px 1px #767676,
        -2px 5px 1px #787878,
        -3px 7px 1px #7a7a7a,
        -4px 9px 1px #7f7f7f
}

.main-text-ctr-para {
    padding: 0 3.2rem;
    font-size: 2rem;
    color: #f9f9f9;
    letter-spacing: 5px;
}

/* About us */
.about-us-ctr {
    width: 100%;
    height: auto;
}

.about-us-header {
    text-align: center;
    padding: 10rem 0;
}

.about-us-card-ctr {
    width: 100%;
    padding: 0 10rem 15rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.about-us-card {
    height: auto;
    width: 30%;
    background-color: #f4f4f0;
    text-align: center;
}

.about-us-card-text-content {
    padding: 3.2rem;
}

.about-us-card-text-header {
    padding: 1.6rem 0;
}

.about-us-card-img-ctr {
    width: 100%;
    padding: 1.6rem;
}

.about-us-card-img {
    width: 100%;
}


/* Footer */
.footer {
    background-color: #292929;
    color: #e1e1e1;
    text-align: center;
    padding: 5rem 5%;
    padding-bottom: 1rem;
}

.footer-social-media-ctr {
    width: 100%;
}

.social-media-ctr a {
    display: inline-block;
    text-decoration: none;
    color: #e1e1e1;
    margin: 2rem;
}

.social-media-ctr a:hover {
    color: #FF6D60;
}

.footer-links-ctr {
    width: 20rem;
    text-align: left;
}

.footer-link {
    display: block;
    text-decoration: none;
    color: #9a9fca;
    line-height: 4rem;
    transition: all 0.2s ease;
}

.footer-copyright-ctr {
    width: 100%;
    padding: 2rem 0;
}

.copyright {
    color: #bbb;
    margin-bottom: 2rem;
}

.copyright-company {
    text-decoration: none;
    color: #FF6D60;
}

.powered-by {
    font-size: 1.3rem;
    color: #bbb;
}

.site-developer {
    text-decoration: none;
    color: #eee;
}

/* Media Queries */
@media screen and (max-width: 1200px) {
    .contact-us-btn {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .header-inner-ctr {
        padding: 1.6rem 3rem;
    }

    .logo-ctr {
        height: 5rem;
    }

    .header-tabs-ctr {
        width: 55rem;
    }

    .header-tabs-ctr a {
        font-size: 1.4rem;
    }

    .main-text-ctr-header {
        font-size: 4rem;
    }

    .main-text-ctr-before-1,
    .main-text-ctr-after-1 {
        height: 10rem;
        width: 40rem;
    }

    @keyframes right-fade-in {
        0% {
            left: -10rem;
            opacity: 0;
        }

        100% {
            left: 0;
            opacity: 1;
        }
    }

    @keyframes left-fade-in {
        0% {
            right: -10rem;
            opacity: 0;
        }

        100% {
            right: 10rem;
            opacity: 1;
        }
    }
}

@media screen and (max-width: 768px) {
    .header-tabs-ctr {
        display: none;
    }

    .icon-hamburgur-menu-ctr {
        display: block;
    }

    .main-text-ctr {
        left: 8rem;
    }

    .main-text-ctr-header {
        font-size: 3.8rem;
    }

    .main-text-ctr-para {
        font-size: 1.6rem;
        letter-spacing: 2px;
    }

    .main-text-ctr-before-1,
    .main-text-ctr-after-1 {
        height: 10rem;
        width: 30rem;
    }

    .about-us-card-ctr {
        padding: 0 5rem 10rem;
        flex-direction: column;
        align-items: center;
    }

    .about-us-card {
        width: 100%;
        margin: 2rem;
    }
}

@media screen and (max-width: 425px) {

    .main-text-ctr {
        left: 2rem;
    }

    .main-text-ctr-before-1 {
        width: 25rem;
    }

    .main-text-ctr-after-1 {
        width: 20rem;
    }

    .main-text-ctr-header,
    .main-text-ctr-para {
        padding: 0;
    }

    .about-us-header {
        font-size: 2.2rem;
        padding: 5rem 0;
    }

    .about-us-card-ctr {
        padding: 2rem;
        flex-direction: column;
        align-items: center;
    }

    .about-us-card {
        width: 100%;
        margin: 1rem;
    }

    .copyright {
        font-size: 1.2rem;
    }
}